channels:
- conda-forge
dependencies:
- aimsgb =0.1.1
- ase =3.22.1
- coveralls
- coverage
- codacy-coverage
- defusedxml =0.7.1
- h5py =3.8.0
- matplotlib-base =3.6.3
- mendeleev =0.12.1
- mp-api =0.30.9
- numpy =1.24.2
- pandas =1.5.3
- phonopy =2.17.1
- pint =0.20.1
- pyiron_base =0.5.31
- pymatgen =2022.11.7
- pyscal =2.10.18
- scikit-learn =1.2.1
- scipy =1.10.0
- seekpath =2.0.1
- spglib =2.0.2
