# This workflow is used to test, if the installation of the pypi package works

name: Pip check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup environment
        run: cp .ci_support/environment.yml environment.yml
      - name: Setup Mambaforge
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: '3.10'
          miniforge-variant: Mambaforge
          channels: conda-forge
          channel-priority: strict
          activate-environment: my-env
          use-mamba: true
      - name: Set cache date and number
        run: |
          echo "DATE=$(date +'%Y%m%d')" >> $GITHUB_ENV
          cat .github/variables/cache_number.env >> $GITHUB_ENV
      - uses: actions/cache@v2
        with:
          path: /usr/share/miniconda3/envs/my-env
          key: linux-64-py-3-10-conda-${{ hashFiles('environment.yml') }}-${{ env.DATE }}-${{ env.CACHE_NUMBER }}
        id: cache
      - name: Update environment
        run: mamba env update -n my-env -f environment.yml
        if: steps.cache.outputs.cache-hit != 'true'
      - name: Pip check
        shell: bash -l {0}
        run: |
          pip install --no-deps .
          pip check
